# Flask Framework
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-WTF==1.2.2
Flask-Login==0.6.3
Flask-JWT-Extended==4.7.1

# Banco de dados
SQLAlchemy==2.0.41
alembic==1.16.2
PyJWT==2.10.1
pymysql

# Formulários
WTForms==3.2.1

# Utilitários Flask
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.2.1
blinker==1.9.0

# Variáveis de ambiente
python-dotenv==1.1.1

# PDF, imagem e relatórios
xhtml2pdf==0.2.17
weasyprint==66.0
pypdf==5.7.0
pillow==11.2.1
opencv-python==4.11.0.86
reportlab==4.4.2
pdf2image==1.17.0
fpdf==1.7.2
svglib==1.5.1
pdfpumble

# Suporte a datas e fusos
pytz==2025.2
python-dateutil==2.9.0.post0

# Rede e segurança
requests==2.32.4
certifi==2025.6.15
idna==3.10
urllib3==2.5.0
charset-normalizer==3.4.2
cryptography==45.0.4
cffi==1.17.1
pycparser==2.22

# Outras dependências úteis
colorama==0.4.6
PyYAML==6.0.2
packaging==25.0
six==1.17.0
html5lib==1.1
webencodings==0.5.1
tinycss2==1.4.0
cssselect2==0.8.0
pyphen==0.17.2
python-bidi==0.6.6
arabic-reshaper==3.0.0
docutils==0.22
filetype==1.2.0
altgraph==0.17.4
oscrypto==1.3.0
Brotli==1.1.0
typing_extensions==4.14.0

# Produção
gunicorn
