{% extends 'pdf_base_report.html' %}

{% block report_content %}
<table>
    <thead>
        <tr>
            <th>Placa</th>
            <th>Unidade</th>
            <th>Motorista</th>
            <th>Manutenções Vencidas</th>
            <th class="text-right">KM Atual</th>
        </tr>
    </thead>
    <tbody>
        {% for v in data %}
            <tr>
                <td>{{ v.placa }}</td>
                <td>{{ v.unidade }}</td>
                <td>{{ v.motorista or 'N/A' }}</td>
                <td>{{ v.manutencoes_vencidas | join(', ') }}</td>
                <td class="text-right">{{ v.km_atual }}</td>
            </tr>
        {% else %}
            <tr><td colspan="5" class="text-center">Nenhum veículo bloqueado.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}