{% extends 'pdf_base_report.html' %}

{% block report_content %}
<table>
    <thead>
        <tr>
            <th>Placa</th>
            <th>Unidade</th>
            <th>Motorista</th>
            <th>Tipo de Manutenção</th>
            <th class="text-right">Km Restante</th>
        </tr>
    </thead>
    <tbody>
        {% for v in data %}
            {% for tipo, km in v.manutencoes_a_vencer %}
            <tr>
                <td>{{ v.placa }}</td>
                <td>{{ v.unidade }}</td>
                <td>{{ v.motorista or 'N/A' }}</td>
                <td>{{ tipo }}</td>
                <td class="text-right">{{ km }} km</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="5" class="text-center">Nenhum veículo com manutenções a vencer.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
